p {
    color: rgb(4, 0, 255);
}
body {text-align: center;
}


#titulo{
    font-size :30 px;
    text-align: center;

}
   
.texto{
    text-align: justify;
    font-size: 20px;
    color:green;
}

