p {
    color: rgb(4, 0, 255);
}
body {text-align: center;
    background-color: rgb(10, 204, 238);
}


#titulo{
    font-size :30 px;
    text-align: center;
    color: 98E4FF;

}
   
.texto{
    text-align: justify;
    font-size: 20px;
    color:green;
}

