
body {text-align: center;
    background-color: #B6FFFA;

}
p {
    color: rgb(4, 0, 255);
}

#titulo{
    font-size :30 px;
    text-align: center;
    color: #687EFF;

}
   
.texto{
    text-align: justify;
    font-size: 20px;
    color:green;
}
#banner{
    width: 50%;
    margin 24 px;
    padding: 16px;
    .culturas{
        background-image: linear-gradient(#40c9ff,#e81cff);
        width: 400px;
        color:white;
    }
}
